:root {
  --dark-gray: rgb(111, 111, 111);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
  background: var(--dark-gray);
  color: #fff;
}

.move-button {
  border: none;
  background: transparent;
  color: #fff;
  opacity: 0.5;
  padding: 1rem;
  transition: 0.2s;
}

.move-button:hover {
  opacity: 1;
  transform: translateY(-2px);
  cursor: pointer;
}

#calendar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#month {
  font-size: 3rem;
  font-family: "Sacramento", cursive;
}

#week {
  list-style: none;
  display: flex;
}

.week-day {
  width: 50px;
  display: grid;
  place-content: center;
}

#calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-box {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  transition: 0.2s;
  opacity: 1;
}

.day-box:hover {
  cursor: pointer;
  background: pink;
  color: var(--dark-gray);
  transform: translateY(-2px);
}

.today {
  opacity: 1;
  color: pink;
  font-weight: bold;
}

main {
  flex: 1 1 50%;
  color: #555;
  padding: 2rem;
  border-radius: 5px;
  background: #e5e5e5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2rem;
}

#main-title {
  border-bottom: 3px solid #555;
}

#main-page {
  width: 100%;
  height: 100%;
  background: #555;
  color: #fff;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#add-button {
  width: 25px;
  height: 25px;
  align-self: flex-end;
  font-weight: bold;
}

#main-page > ul {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
}

#main-page > ul > li {
  width: 100%;
  background: 1px solid #e5e5e5;
}

#todo-form {
  width: 100%;
  display: flex;
}

#todo-form > div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#todo-form > div > input {
  padding: 0.5rem;
}

#todo-form > button {
  padding: 0.5rem;
}
